*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-size: 18px;
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: normal;
  color: $black;
}

p {
  margin: 0;
  line-height: 1.6;
  letter-spacing: 0.5px;
}

h1,
h2,
h3,
h4 {
  font-weight: bold;
  margin: 0;
}

h1 {
  font-weight: 900;
  font-size: 3.3em;
  line-height: 1.1;

  @media only screen and (max-width: 979px) {
    font-size: 3em;
  }

  @media only screen and (max-width: 767px) {
    font-size: 2.7em;
  }

  @media only screen and (max-width: 480px) {
    font-size: 2.4em;
  }
}

h2 {
  font-size: 2.2em;

  @media only screen and (max-width: 979px) {
    font-size: 2em;
  }

  @media only screen and (max-width: 767px) {
    font-size: 1.75em;
  }

  @media only screen and (max-width: 480px) {
    font-size: 1.4em;
  }
}

h3 {
  font-size: 1.4em;
  text-transform: uppercase;
  letter-spacing: 1px;

  @media only screen and (max-width: 767px) {
    font-size: 1.25em;
  }
}

a {
  text-decoration: none;
  color: $black;
  transition: $transition;
  
  &:hover,
  &:focus {
    color: $primary;
  }
  
  &:focus {
    text-decoration: underline;
  }
}

img {
  width: 100%;
  vertical-align: middle;
}
