include ../components/_index.pug
<!DOCTYPE html>
html(lang="en")
  head
    +headMeta(
      'T_Steps | The Talent Engagement Ecosystem',
      'We provide AI-Driven, Machine Learning Tools For Talent Discovery and Professional Growth for visionary professionals.',
      '../'
    )
    +headScripts('../')

  body
    +nav('../')

    main.imprint.content
      .container
        h1 Imprint
        p.bold TalentSteps GmbH &amp; Co. KG
        p HRA 3759 – District Court Königstein
          br
          | VAT-Id.Nr: DE310071509
          br
          | Personally Liable Partner: Indra Enterprises GmbH
          br
          | Managing Director: Krishna Javvaji
          br
          | Registered office Address: Mammolshainer Weg 14, 61462 Königstein
          br
          | (HRB 5137 District Court Königstein, Tax.Nr.003 236 16128)
          br
          | Tel.: 
          a(href="tel:+49617425980") +49617425980
          br
          | Mail: 
          a(href="mailto:info@talentsteps.com") info@talentsteps.com
        h2 Disclaimer
        h3 Liability for Contents
        p As service providers, we are liable for own contents of these websites according to Sec. 7, paragraph 1 German Telemedia Act (TMG).However, according to Sec. 8 to 10 German Telemedia Act (TMG), service providers are not obligated to permanently monitor submitted or stored information or to search for evidences that indicate illegal activities. Legal obligations to removing information or to blocking the use of information remain unchallenged. In this case, liability is only possible at the time of knowledge about a specific violation of law. Illegal contents will be removed immediately at the time we get knowledge of them.
        h3 Liability for Links
        p Our offer includes links to external third party websites. We have no influence on the contents of those websites, therefore we cannot guarantee for those contents. Providers or administrators of linked websites are always responsible for their own contents. The linked websites had been checked for possible violations of law at the time of the establishment of the link. Illegal contents were not detected at the time of the linking. A permanent monitoring of the contents of linked websites cannot be imposed without reasonable indications that there has been a violation of law. Illegal links will be removed immediately at the time we get knowledge of them.
        h3 Copyright
        p Contents and compilations published on these websites by the providers are subject to German copyright laws. Reproduction, editing, distribution as well as the use of any kind outside the scope of the copyright law require a written permission of the author or originator. Downloads and copies of these websites are permitted for private use only. The commercial use of our contents without permission of the originator is prohibited. Copyright laws of third parties are respected as long as the contents on these websites do not originate from the provider. Contributions of third parties on this site are indicated as such. However, if you notice any violations of copyright law, please inform us. Such contents will be removed immediately.

    +footer('../')

    script.
      var navMenu = document.getElementsByClassName('nav-menu')[0];
      var navToggleIcon = document.getElementsByClassName('nav-toggle-icon')[0];

      function toggleMobileMenu() {
        if (navMenu.className === 'nav-menu') {
          navMenu.className = 'nav-menu active';
          navToggleIcon.src = 'https://cdnjs.cloudflare.com/ajax/libs/ionicons/4.5.6/collection/build/ionicons/svg/md-close.svg';
        } else {
          navMenu.className = 'nav-menu';
          navToggleIcon.src = 'https://cdnjs.cloudflare.com/ajax/libs/ionicons/4.5.6/collection/build/ionicons/svg/md-menu.svg';
        }
      }