<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title T_Steps | The Talent Engagement Ecosystem
    meta(title="description", content="We provide AI-Driven, Machine Learning Tools For Talent Discovery and Professional Growth for visionary professionals.")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto:400,400i,700,900&display=swap")
    link(rel="stylesheet", href="assets/css/style.css")
  body
    nav.nav
      .container
        .row.align-items-center
          .flex-1
            a(href="./")
              img.nav-logo(src="assets/img/tsteps-logo.png", alt="t steps logo")
          .flex-1.right
            ul.nav-menu
              li
                a(href="#!") About Us
              li
                a(href="#!") Blog
              li
                a.button(href="#!") Contact Us

    main.index
      section.index-hero
        .container
          .row.align-items-center
            .flex-1
              h1 The Talent Engagement Ecosystem
              p We help in building, showcasing and finding talent.
            .flex-1.right
              img(src="assets/img/tsteps-hero.png", alt="talent engagement ecosystem")

      section.index-vision.center
        .container
          h2 Our Vision
          p We aim to bridge the gap between recruiters and job-seekers by providing recruitment and skill-building and showcasing solutions. We are building a community where job-seekers can hone their skills, share their skills, profiles and recruiters can find them conveniently.

      section.index-edge.center
        .container
          h2 Our Edge
          p.index-edge--description Each solution we provide gives you a competitive advantage. We bring to you the perfect combination of experience of the past and the technology of the future.
          .row
            .flex-1
              img(src="assets/img/futurist-technology.png", alt="futurist technology")
              h3 The Futurist Technology
              p We go beyond Al, analytics, big data, predictive technology and hybrid search. We have incorporated futuristic technology like blockchain and other innovative &amp; disruptive technologies to create a transparent, ethical and dynamic talent discovery landscape.
            .flex-1
              img(src="assets/img/past-experience.png", alt="past experience")
              h3 The Past Experience
              p We apply 20+ years of hardcore Staffing &amp; Hiring experience to shape the technology to the needs of the industry. While deep-diving into the technology of the future, we use practical learning from our past experience to make our solutions more convenient for the job-seekers as well as recruiters.

      section.index-products
        .container
          h2.center Our Products
          .row.align-items-center
            .flex-1
              img.index-products--img(src="assets/img/ai-application-tracking.jpg", alt="ai application tracking")
            .flex-1
              img(src="assets/img/", alt="")
              p A new-age, AI-driven Application Tracking System built for modern recruiters. This holistic recruitment management platform aids recruiters in managing job posts for clients as well as managing candidate in-flow.
              a.button(href="#!", style="background-color: #26b1fc; border-color: #26b1fc;") Explore TScout
          .row.align-items-center
            .flex-1
              img(src="assets/img/", alt="")
              p An advanced resume sharing and parsing platform for progressive professionals. This social applicant profiling platform aids job seekers in building their online resumes and constantly updating it.
              a.button(href="#!", style="background-color: #2fcc70; border-color: #2fcc70;") Explore TSpring
            .flex-1.right
              img.index-products--img(src="assets/img/sharing-parsing-platform.jpg", alt="sharing parsing platform", style="object-position: right;")
          .row.align-items-center
            .flex-1
              img.index-products--img(src="assets/img/e-learning-platform.jpg", alt="e-learning platform", style="object-position: top;")
            .flex-1
              img(src="assets/img/", alt="")
              p A personalised e-learning platform for career-driven professionals. This adaptive skill-advancement platform provides learning models based on learner’s existing skills and career goals.
              a.button(href="#!", style="background-color: #f34747; border-color: #f34747;") Explore TElevate

    footer.footer
      .container
        .row
          .flex-1
            div
              img(src="", alt="")
              p TScout offer career paths, courses and counselling to elevate their career.
            div
              img(src="", alt="")
              p TElevate offer career paths, courses and counselling to elevate their career.
            div
              img(src="", alt="")
              p TSpring is a platform which offers CV creation, job search and events using Machine Learning and smart suggestions.
          .flex-1
            .row
              .flex-1
                p.bold TalentShape
                ul.footer-menu
                  li
                    a(href="#!") About
                  li
                    a(href="#!") Features
                  li
                    a(href="#!") Products
              .flex-1
                p.bold TalentScout
                ul.footer-menu
                  li
                    a(href="#!") About
                  li
                    a(href="#!") Features
                  li
                    a(href="#!") Get a Demo
              .flex-1
                p.bold Follow
                ul.footer-social
                  li
                    a(href="#!")
                      img(src="assets/img/linkedin-white.svg", alt="linkedin")
                  li
                    a(href="#!")
                      img(src="assets/img/twitter-white.svg", alt="twitter")
                  li
                    a(href="#!")
                      img(src="assets/img/facebook-white.svg", alt="facebook")
