include ../components/_index.pug
<!DOCTYPE html>
html(lang="de")
  head
    +headMeta(
      'T_Steps | The Talent Engagement Ecosystem',
      'We provide AI-Driven, Machine Learning Tools For Talent Discovery and Professional Growth for visionary professionals.',
      '../'
    )
    +headScripts('../')

  body
    +nav('../')

    main.imprint.content
      .container
        h1 Datenschutzerklärung
        p.bold TalentSteps GmbH &amp; Co.KG,
          br
          | Mammolshainer Weg 14, 61462 Königstein im Taunus
        p Bei TalentSteps sind wir verpflichtet sicherzustellen dass Ihre persönlichen Informationen geschützt und niemals missbraucht werden.
          br
          | Die hier zur Verfügung gestellten Informationen legen die Unternehmenspolitik zum Schutz von Informationen in Bezug auf Bewerber fest.
          br
          | Der Schutz der Vertraulichkeit und Integrität personenbezogener Daten ist eine wichtige Verantwortung, die das Unternehmen zu jedem Zeitpunkt ernst nimmt.
          br
          | Das Unternehmen wird sicherstellen, dass die Daten immer in Übereinstimmung mit den Bestimmungen der einschlägigen Datenschutzgesetze, einschließlich der Datenschutz-Grundverordnung (DSGVO), verarbeitet werden.
        p Bitte lesen Sie unsere Datenschutzerklärung sorgfältig durch.
        h2 Verarbeitung von Bewerberdaten
        p Diese Informationen entsprechen den Richtlinien unseres Unternehmens zum Schutz von Informationen, die sich auf Bewerber und deren individuelle Bewerbungen beziehen. Der Schutz der Vertraulichkeit und Integrität personenbezogener Daten ist eine wichtige Verantwortung, die das Unternehmen zu jedem Zeitpunkt ernst nimmt.
        p Das Unternehmen wird sicherstellen, dass die Daten immer in Übereinstimmung mit den Bestimmungen der einschlägigen Datenschutzgesetze, einschließlich der Datenschutz-Grundverordnung (DSGVO), verarbeitet werden.
        h2 Für die Zwecke dieser Datenschutzerklärung, umfasst der Begriff “Kandidat” Folgendes:
        p Ein aktiver Arbeitssuchender, der sich bei uns registriert, damit wir ihnen helfen können, einen Job zu finden, oder sich auf eine Rolle bewerben, die wir ausgeschrieben haben; Ein Bewerber, der vorübergehend, unbefristet oder auf Vertragsbasis bei einer dritten Partei vermittelt wurde; Jemand, den wir als potenziellen Arbeitssuchenden durch externe Ressourcen identifizieren und hat zugestimmt, dass die persönlichen Daten der Person gespeichert und für Beschäftigungszwecke verwendet werden kann.
        p Datenverarbeitung ist die Aktivität von persönlichen Daten. Es beinhaltet das Erlangen, Aufzeichnen oder Halten der Daten oder das Ausführen jeglicher Operationen an den Daten einschließlich Organisieren, Ändern, Wiedergewinnen, Verwenden, Offenlegen, Löschen oder Zerstören. Die Verarbeitung umfasst daher die Übermittlung oder Weitergabe personenbezogener Daten an Dritte. Wir möchten Ihre personenbezogenen Daten nur dann an Dritte weitergeben, wenn dies dem Zweck dient, Ihre Daten für die Einstellung zu nutzen.
        h2 Wie lange behalten wir Ihre Informationen?
        p Wir werden Ihre persönlichen Daten nur so lange aufbewahren, wie wir benötigen, damit wir sie aus den in dieser Datenschutzerklärung angegebenen Gründen nutzen können, und zwar so lange, wie wir den Zweck haben, sie zu behalten. Sobald Sie einen Antrag bei uns eingereicht haben, betrachten wir ihn als Ihre Zustimmung und behalten Ihre Informationen für den Fall, dass andere Gelegenheiten verfügbar werden, an denen Sie interessiert sein könnten; Wir speichern Ihre Daten nur für einen begrenzten Zeitraum und Ihre Daten werden gelöscht, sobald Ihr Konto inaktiv wird.
        h2 Welche Art von Daten müssten Sie mit uns teilen?
        p Ihre Kontaktdaten einschließlich Name, E-Mail, Adresse und Telefonnummer, Geschlecht, Karriereverlauf, Qualifikationen, Wohnsitzland, Sprachkenntnisse und andere persönliche Informationen, die Sie in Ihre Interaktionen mit TalentSteps aufnehmen. Wir können Sie auch nach zusätzlichen Informationen fragen, die uns bei unserem Rekrutierungsprozess unterstützen. Für den Fall, dass Ihnen eine Stelle angeboten wird, benötigen wir Daten wie Geburtsdatum, Recht auf Arbeitsdokumente.
        p Sie können auch Details anderer Personen mit uns teilen; Zum Beispiel, wenn der Job von jemand anderem an Sie weitergeleitet wurde (jemand, den Sie bei TalentSteps oder auf andere Weise kennen). Unter solchen Umständen müssen Sie mit dieser Person Rücksprache halten und ihre Zustimmung einholen, bevor Sie uns ihre persönlichen Daten mitteilen, damit wir ihre Daten in Übereinstimmung mit dieser Datenschutzrichtlinie verwenden können.
        h2 Soziale Medien
        p Sie können soziale Medien wie LinkedIn, Xing oder andere Plattformen nutzen, um eine Karrierechance zu entdecken. Wir verwenden auch soziale Medien, Jobbörsen und Online-Websites, um potenzielle Kandidaten für Rollen zu finden und zu kontaktieren. Daher werden wir einige persönliche Informationen über potenzielle Kandidaten von diesen Websites sammeln. Diese Information ist relevant für unsere Datenschutzerklärung.
        p Social-Media-Websites, Stellenbörsen und ähnliche Online-Websites haben möglicherweise eigene Datenschutzrichtlinien, in denen erläutert wird, wie sie Ihre persönlichen Daten verwenden und weitergeben. Sie sollten diese Datenschutzrichtlinien sorgfältig lesen, bevor Sie diese Websites verwenden, um sicherzustellen, dass Sie damit einverstanden sind, wie Ihre persönlichen Daten gesammelt und weitergegeben werden.
        h2 Informationen, die wir aus anderen Quellen sammeln
        p Wir können einige persönliche Informationen über Sie von anderen Quellen sammeln; namentlich frühere Arbeitgeber, Ihre Referenzen, Personalagenturen und Dienstleister, die uns erlauben, die von Ihnen mitgeteilten Daten zu überprüfen (z. B. wenn wir Vorstrafen oder Identifizierungskontrollen durchführen). Wir sammeln so wenig persönliche Informationen wie möglich während des Rekrutierungsprozesses. Wenn Sie die Vorprüfung erfolgreich durchlaufen haben, werden wir detailliertere Voruntersuchungen und Überprüfungen durchführen.
        p Sie können sich auch für ein Konto auf unserer Website registrieren, indem Sie sich über Xing oder LinkedIn anmelden. In diesem Fall sammeln wir bestimmte zusätzliche persönliche Informationen von Ihrem LinkedIn-Konto (wie beispielsweise Ihren beruflichen Werdegang und frühere Erfahrungen).
        h2 Wie verwenden wir Ihre persönlichen Daten?
        p Wir werden Ihre Daten benötigen, um mit Ihnen in Kontakt zu treten, mit Ihnen zu kommunizieren und Sie auf dem Laufenden zu halten. Diese Daten werden benötigt, um Ihre Bewerbung zu erleichtern, um auf Ihre Fragen oder Anliegen zu reagieren.
          br
          | Auch wenn Sie über andere Möglichkeiten informiert werden möchten, benötigen wir Ihre persönlichen Daten dazu.
        h2 Einhaltung dieser Richtlinie und Datensicherheit
        p Das Unternehmen hat einen Datenschutzbeauftragten (DPO) ernannt, der für die Überwachung der Einhaltung dieser Richtlinie durch das Unternehmen verantwortlich ist.
          br
          | Wenn Bewerber Fragen zu dieser Richtlinie oder zur Handhabung persönlicher Informationen durch das Unternehmen haben, können sie sich an den Datenschutzbeauftragten wenden.
        p.bold Datenschutzbeauftragter:
          br
          | Herr Vittal Raj
          br
          | Tel.: 06174259835
          br
          | E-Mail: vittal.raj@javaji.de
        p Das Unternehmen hat Verfahren eingerichtet, um jede Verletzung der Datensicherheit zu beheben, und wird Antragsteller und alle zuständigen Behörden eines mutmaßlichen Verstoßes benachrichtigen, wenn dies gesetzlich vorgeschrieben ist. Details zu diesen Maßnahmen sind auf Anfrage erhältlich.
        p Wenn Sie Fragen, Kommentare oder Bedenken zu irgendeinem Aspekt dieser Richtlinie haben oder wie TalentSteps mit Ihren persönlichen Informationen umgeht, senden Sie bitte eine E-Mail an unser Team in erster Instanz an 
          a(href="mailto:privacy@talentsteps.com") privacy@talentsteps.com
          | . Bitte beachten Sie, dass Sie Ihre Einwilligung zur Verarbeitung Ihrer persönlichen Daten durch eine E-Mail an 
          a(href="mailto:privacy@talentsteps.com") privacy@talentsteps.com
          |  widerrufen können. In diesem Fall wird TalentSteps Ihre persönlichen Daten löschen.
        p Mit freundlichen Grüßen
          br
          | Ihre TalentSteps GmbH Co. KG

    +footer('../')

    script.
      var navMenu = document.getElementsByClassName('nav-menu')[0];
      var navToggleIcon = document.getElementsByClassName('nav-toggle-icon')[0];

      function toggleMobileMenu() {
        if (navMenu.className === 'nav-menu') {
          navMenu.className = 'nav-menu active';
          navToggleIcon.src = 'https://cdnjs.cloudflare.com/ajax/libs/ionicons/4.5.6/collection/build/ionicons/svg/md-close.svg';
        } else {
          navMenu.className = 'nav-menu';
          navToggleIcon.src = 'https://cdnjs.cloudflare.com/ajax/libs/ionicons/4.5.6/collection/build/ionicons/svg/md-menu.svg';
        }
      }